

#works {
    text-align: center; 
    padding: 20px; 
}

.worksTitle {
    font-size: 2rem; 
    margin-bottom: 10px;
}

.worksDesc {
    font-size: 1.2rem; 
    margin-bottom: 20px; 
}

.worksImgs {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 15px; 
}

.worksImg {
    width: 150px; 
    height: auto; 
    border-radius: 8px; 
    transition: transform 0.2s; 
}

.worksImg:hover {
    transform: scale(1.05);
}



.workBtn:hover {
    background-color: #0056b3; 
}
